.cookiePopup {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  display: flex;
  flex-direction: column;
  width: 225px;
  background-color: var(--black);
  border-radius: 1rem;
  padding-block: 1rem;
  padding-inline: 1.4rem;

  .icons {
    display: flex;
    justify-content: space-between;

    .cross {
      color: lightgray;
      cursor: pointer;
    }

    .cross:hover {
      color: rgba(211, 211, 211, 0.5);
    }

    .cookie {
      color: var(--white);
      font-size: 3rem;
      transform: rotate(-80deg);
    }
  }

  .paragraph {
    color: var(--white);
    margin-block-start: 4rem;
    margin-block-end: 1rem;
  }

  .button {
    background-color: white;
    border-radius: 0.5rem;
    color: black;
    padding: 0.5rem;
    cursor: pointer;
  }

  .button:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
}
